body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    font-family: 'ABC Ginto Nord Unlicensed Trial' ;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    top: 0;
}